<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened"  class="col-md-3 sidenav">
    <div id="nav-collapse">
      <mat-icon (click)="opened=!opened">keyboard_arrow_left</mat-icon>
    </div>
    <h3 class="sidenav-header">
      <mat-icon>settings</mat-icon>
      CONFIGURATION
    </h3>
    <form class="form-group">
      <label for="name" class="form-label">Nom</label>
      <input id="name" class="form-control" [(ngModel)]="selectedUser.name" (change)="updateUser()" name="name" >
      <label for="lastname" class="form-label">Prenom</label>
      <input id="lastname" class="form-control" [(ngModel)]="selectedUser.lastname" (change)="updateUser()" name="lastname">
      <label for="age" class="form-label" >age</label>
      <input id="age" class="form-control" value="{{selectedUser.age}}"  disabled >
    </form>
  </mat-sidenav>

  <mat-sidenav-content class="col-md-9 sidenav-content">
    <div class="content-header">
      <button class="btn btn-success" (click)="overlayShow=true"><mat-icon>add</mat-icon>Ajouter</button>
      <button class="btn btn-success"><mat-icon>refresh</mat-icon>Refrecher</button>
    </div>
    <div class="user-container">
      <app-user-card *ngFor="let user of userList" [user]="user"
                     (userEmitter)="setSelectedUser($event)"
                     (cleanEmitter)="setSelectedUser($event)"
      >
      </app-user-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="overlayShow" class="add-overlay">
  <form class="form-group add-form">
    <label for="newName" class="form-label">Nom</label>
    <input id="newName" class="form-control" name="name" name="newName" [(ngModel)]="newUser.name">
    <label for="newLastName" class="form-label">Prenom</label>
    <input id="newLastName" class="form-control" name="lastname" [(ngModel)]="newUser.lastname">
    <label for="newAge" class="form-label" >age</label>
    <input id="newAge" class="form-control" type="number" name="newage" [(ngModel)]="newUser.age" >
    <input type="button" class="btn btn-success" value="Ajouter" (click)="addUser()">
    <input type="button" class="btn btn-danger" value="Annuler" (click)="overlayShow=false">
  </form>
</div>
